.app {
    display: flex;
    flex-direction: column;
}

.app_main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
}

.task_column {
    width: 33.33%;
    margin: 20px;
}
